* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-body {
  background: url(../media/all/bg_one.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: sans-serif;
  line-height: 1.5;
}

header {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #146b36;
}
header .menu-bar {
  height: 60px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
header .menu-bar .menu-logo {
  color: #fff;
  width: 20%;
  display: flex;
  align-items: center;
  padding-top: 7px;
}
header .menu-bar .menu-logo a {
  padding: 0;
  margin: 0;
}
header .menu-bar .menu-logo img {
  width: 200px;
}
header .menu-bar .menu-links {
  width: 50px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .menu-bar .menu-links .bar-1, header .menu-bar .menu-links .bar-2, header .menu-bar .menu-links .bar-3 {
  width: 30px;
  height: 5px;
  margin: 2px;
  border-radius: 1px;
  background-color: white;
}

main {
  width: 100%;
  margin: auto;
  min-height: 90vh;
  padding-top: 10vh;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-items: center;
}
main .main-left {
  padding: 20px 0;
  width: 100%;
  display: grid;
  justify-items: center;
}
main .main-left .box {
  color: #146b36;
  padding: 5px;
  background: url(../media/all/bg_wood.jpeg) no-repeat center center fixed;
  background-size: cover;
  border: 3px solid #146b36;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .main-left .box img {
  border: 3px solid #146b36;
  border-radius: 1rem;
  width: 100%;
}
main .main-right {
  width: 100%;
  min-height: 50vh;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .main-right .main-login {
  background-color: #146b36;
  color: #fff;
  border: 5px solid #fff;
  border-radius: 30px;
  width: 80%;
  max-width: 400px;
  margin-bottom: 20px;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .main-right .main-login .main-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
main .main-right .main-login .main-form .main-user, main .main-right .main-login .main-form .main-pass {
  color: #146b36;
  width: 180px;
  height: 30px;
  border: 5px solid #fff;
  border-radius: 7px;
  padding-left: 5px;
  margin: 7px 0;
}
main .main-right .main-login .main-form .main-btn {
  width: 50px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}
main .main-right .main-login .main-not {
  display: flex;
  margin-bottom: 5px;
}
main .main-right .main-login .main-not div {
  height: 2px;
  width: 25px;
  margin: 7px;
  border-bottom: 2px solid #fff;
}
main .main-right .main-login .main-social {
  margin-top: 10px;
  display: flex;
}
main .main-right .main-login .main-social a {
  margin: 0 15px;
  height: 28px;
}
main .main-right .main-login .main-social img {
  height: 25px;
}
main .main-right .main-show {
  background-color: white;
  border-radius: 30px;
  width: 80%;
  min-height: 30vh;
}

footer {
  background-color: #146b36;
  height: 10vh;
  color: #fff;
}
footer .footer-cont {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
footer .footer-cont .footer-copy, footer .footer-cont .footer-title, footer .footer-cont .footer-links {
  width: 30%;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body {
  background-color: #fff;
}

#fb-body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#fb-name img {
  margin-bottom: 5px;
  height: 30px;
  width: 120px;
}

header, footer {
  background-color: #3b5998;
}

main {
  background-color: #dfe1ee;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 90vh;
  width: 100%;
}

.miss-med {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #232e4a;
}
.miss-med img {
  width: 200px;
  margin: auto;
  margin-bottom: 7px;
}
.miss-med h3 {
  margin-bottom: 1px;
}
.miss-med h6 {
  margin-bottom: 70px;
}

.fb-div {
  background-color: #fff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  max-width: 500px;
}
.fb-div a {
  text-decoration: none;
  cursor: pointer;
  color: #3b5998;
}

.fb-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
}
.fb-form .fb-user, .fb-form .fb-pass, .fb-form .fb-btn {
  height: 30px;
  width: 90%;
  margin: auto;
  margin-bottom: 7px;
}
.fb-form .fb-btn {
  border: 2px solid #fff;
  cursor: pointer;
  background-color: #3b5998;
  color: #fff;
}

@media screen and (max-width: 500px) {
  .main-left {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .main-left .box {
    width: 80%;
    margin: auto;
  }
}
@media screen and (min-width: 501px) and (max-width: 550px) {
  .main-form #m-user, .main-form #m-pass {
    width: 150px;
  }
}
@media screen and (min-width: 501px) {
  main {
    flex-direction: row;
  }

  .main-left {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .main-left .box {
    width: 90%;
    margin: auto;
  }
}
@media screen and (min-width: 1001px) {
  .main-left {
    width: 50%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .main-left .box {
    width: 60%;
    margin: auto;
  }
}

/*# sourceMappingURL=style.css.map */
