

body{
    background-color: #fff;
}

#fb-body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#fb-name{
    img{
        margin-bottom: 5px;
        height: 30px;
        width: 120px;
        
    }
}

header, footer{
    background-color: $secondary-color; 
}

main{
    background-color: $tertiary-color;
    display: flex;
    
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

.main-div{

    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 90vh; 
    width: 100%;

   

}

.miss-med{
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #232e4a;

    img{
        width: 200px;
        margin: auto;
        margin-bottom: 7px;
    }

    h3{margin-bottom: 1px;}

    h6{
        margin-bottom: 70px;
    }

    


    

}



.fb-div{

    background-color: #fff;
    padding: 40px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    width: 90%;
    margin:auto;
    max-width: 500px;

    a{        
        text-decoration: none; 
        cursor: pointer; 
        color: $secondary-color;
    }

}

.fb-form{
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 300px;

    margin-top: 20px;

    .fb-user, .fb-pass, .fb-btn{
        height: 30px;
       
        width: 90%;
        margin: auto;
        margin-bottom: 7px;
    }

    .fb-btn{
        border: 2px solid #fff;
        cursor: pointer; 
        background-color: $secondary-color;
        color: #fff;
    }

    
}




