
 @media screen and (max-width: 500px){


    .main-left{

        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;

            .box{   
                width: 80%;
                margin: auto; 
            }
    }

}

@media screen  and ( min-width: 501px) and (max-width: 550px){

    
   .main-form{
    #m-user, #m-pass{
       width:150px;
    }
   }


}

@media screen and (min-width: 501px){


    main{
        // background-color: green;
        flex-direction: row;
    }
    
    .main-left{

        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;

            .box{   
                width: 90%;
                margin: auto; 
            }
    }

}

@media screen and (min-width: 1001px) {
    main{
        // background-color: blue;
       
    }

    .main-left{
        width: 50%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;

            .box{   
                width: 60%;
                margin: auto; 
            }
    }

}

@media screen and (min-width: 1350px){
    // main{
    //     background-color: yellow;
    // }
}

