$primary-color: #146b36;
$secondary-color: #3b5998;
$tertiary-color: #dfe1ee;




@function set-text-color($color){
    @if (lightness($color) > 40){
        @return #000;
    }
    @else{
        @return #fff;
    }
}

*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    
}

.bg-body{
    background: url(../media/all/bg_one.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: sans-serif;
    line-height: 1.5;
}

header{

    height: 60px;
    width: 100%;
    position: fixed;
    top:0;
    background-color: $primary-color;

    .menu-bar{
        
        height: 60px;
        width: 90%;
        margin: auto;

        display:flex;
        justify-content: space-between;

        .menu-logo{
            color:  #fff;
            width: 20%;

            display:flex;
            align-items: center;
            padding-top: 7px;

            a{
                padding: 0;
                margin:0;
            }

            img{
               width: 200px;
            }

            
        }

        .menu-links{
            width: 50px;
            cursor: pointer;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


            .bar-1, .bar-2, .bar-3{
                width:  30px; 
                height: 5px;
                margin: 2px;
                border-radius: 1px;
                background-color: white;
            }
        }

    }
        

}


main{

    width: 100%;
    margin:auto;
    min-height: 90vh;
    padding-top:10vh;
    color: set-text-color(white);

    display: flex;
    flex-direction: column;
    justify-items: center;

    .main-left{

        padding: 20px 0;
        width: 100%;

        

        display:grid;
        justify-items: center;

        // grid-template-columns: repeat(2, 1fr);
        // grid-gap: 3rem;

        .box{
            color: $primary-color;
            padding: 5px;
            background: url(../media/all/bg_wood.jpeg) no-repeat center center fixed;
            background-size: cover;
            border: 3px solid $primary-color;
            border-radius: 10px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img{
                border: 3px solid $primary-color;
                border-radius: 1rem;
                width: 100%;
            }
        }

    }

    .main-right{

        width: 100%;
        min-height: 50vh;
        padding: 30px 0;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        .main-login {

            background-color: $primary-color;
            color:#fff;

            border: 5px solid #fff;
            border-radius: 30px;
            width: 80%;
            max-width: 400px;
            margin-bottom: 20px;
            min-height: 40vh;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            .main-form{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 10px;

                .main-user, .main-pass{

                    color: $primary-color;
                    width: 180px;
                    height:30px;
                    border: 5px solid #fff;
                    border-radius: 7px;

                    padding-left: 5px;
                    
                    margin: 7px 0;

                }

                .main-btn{
                    width: 50px;
                    height:20px;
                    border: 2px solid #fff;
                    border-radius: 5px;

                    cursor: pointer;
                }

                
            }

            .main-not{
                display: flex;
                margin-bottom: 5px;
                
                div{
                    height: 2px;
                    width: 25px;

                    margin: 7px;
                    border-bottom: 2px solid #fff;
                }
            }

            .main-social{
                margin-top: 10px;
                display: flex;
            
                a{
                    
                    margin: 0 15px;
                    height: 28px;
                }

                img{
                    height:25px;
                }
            }
        }

        .main-show{

            
            background-color: white;

            border-radius: 30px;
            width: 80%;
            min-height: 30vh;

        }


        

    }



    
}


footer{

    background-color: $primary-color;
    height:10vh;
    color: #fff;

    .footer-cont{

        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: auto;
    
        .footer-copy, .footer-title, .footer-links{
            width: 30%;
            min-height: 10vh;
           
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            
        }
    
        .footer-copy{
            // background-color: red;
        }
    
        .footer-title{
            // background-color: blue;
        }
    
        .footer-links{
            // background-color: green;
        }

    }
   
}


@import 'facebook';
@import 'index';